USE [master]
GO
/****** Object:  Database [Pubs_DW]    Script Date: 1/12/2025 22:32:07 ******/
CREATE DATABASE [Pubs_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pubs_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERM\MSSQL\DATA\Pubs_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pubs_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERM\MSSQL\DATA\Pubs_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pubs_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pubs_DW]
GO
/****** Object:  Table [dbo].[dim_time]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_time](
	[time_id] [int] NOT NULL,
	[full_date] [date] NULL,
	[day] [int] NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[quarter] [int] NULL,
	[semester] [int] NULL,
	[day_name] [varchar](15) NULL,
	[is_weekend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[time_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_titles]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_titles](
	[title_id] [varchar](6) NOT NULL,
	[title] [varchar](80) NULL,
	[type] [char](12) NULL,
	[price] [money] NULL,
	[advance] [money] NULL,
	[royalty] [int] NULL,
	[ytd_sales] [int] NULL,
	[pubdate] [date] NULL,
	[pub_id] [char](4) NULL,
	[pub_name] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_sales]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_sales](
	[sales_id] [int] IDENTITY(1,1) NOT NULL,
	[time_id] [int] NULL,
	[title_id] [varchar](6) NULL,
	[au_id] [varchar](11) NULL,
	[stor_id] [char](4) NULL,
	[emp_id] [char](9) NULL,
	[pub_id] [char](4) NULL,
	[qty] [smallint] NULL,
	[sales_amount] [money] NULL,
	[royalty_amount] [money] NULL,
	[payterms] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_title_sales]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VENTAS POR TITULO Y PERIODO
CREATE VIEW [dbo].[vw_title_sales] AS
SELECT 
    dt.title,
    dt.type,
    dm.year,
    dm.quarter,
    COUNT(fs.sales_id) as transaction_count,
    SUM(fs.qty) as total_qty,
    SUM(fs.sales_amount) as total_sales,
    AVG(dt.price) as avg_price
FROM fact_sales fs
JOIN dim_titles dt ON fs.title_id = dt.title_id
JOIN dim_time dm ON fs.time_id = dm.time_id
GROUP BY dt.title, dt.type, dm.year, dm.quarter;
GO
/****** Object:  Table [dbo].[dim_authors]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_authors](
	[au_id] [varchar](11) NOT NULL,
	[au_name] [varchar](60) NULL,
	[phone] [char](12) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[contract] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[au_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_author_performance]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- RENDIMIENTO DE AUTORES
CREATE VIEW [dbo].[vw_author_performance] AS
SELECT 
    da.au_name,
    da.city,
    da.state,
    COUNT(DISTINCT fs.title_id) as title_count,
    SUM(fs.qty) as total_sold,
    SUM(fs.sales_amount) as gross_revenue,
    SUM(fs.royalty_amount) as total_royalties
FROM fact_sales fs
JOIN dim_authors da ON fs.au_id = da.au_id
GROUP BY da.au_name, da.city, da.state;
GO
/****** Object:  Table [dbo].[dim_stores]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_stores](
	[stor_id] [char](4) NOT NULL,
	[stor_name] [varchar](40) NULL,
	[stor_address] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[zip] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[stor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_store_analysis]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ANALISIS GEOGRAFICO DE VENTAS
CREATE VIEW [dbo].[vw_store_analysis] AS
SELECT 
    ds.stor_name,
    ds.city,
    ds.state,
    dt.year,
    dt.quarter,
    SUM(fs.qty) as units_sold,
    SUM(fs.sales_amount) as sales_volume,
    COUNT(DISTINCT fs.title_id) as unique_titles
FROM fact_sales fs
JOIN dim_stores ds ON fs.stor_id = ds.stor_id
JOIN dim_time dt ON fs.time_id = dt.time_id
GROUP BY ds.stor_name, ds.city, ds.state, dt.year, dt.quarter;
GO
/****** Object:  Table [dbo].[dim_publishers]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_publishers](
	[pub_id] [char](4) NOT NULL,
	[pub_name] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[country] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[pub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_publisher_performance]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ANALISIS DE VENTAS POR EDITORIAL
CREATE VIEW [dbo].[vw_publisher_performance] AS
SELECT 
    dp.pub_name,
    dp.city,
    dp.state,
    dt.year,
    dt.quarter,
    COUNT(DISTINCT fs.title_id) as unique_titles,
    SUM(fs.qty) as total_units_sold,
    SUM(fs.sales_amount) as total_revenue,
    AVG(fs.sales_amount) as avg_sale_amount
FROM fact_sales fs
JOIN dim_publishers dp ON fs.pub_id = dp.pub_id
JOIN dim_time dt ON fs.time_id = dt.time_id
GROUP BY dp.pub_name, dp.city, dp.state, dt.year, dt.quarter;
GO
/****** Object:  Table [dbo].[dim_employee]    Script Date: 1/12/2025 22:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_employee](
	[emp_id] [char](9) NOT NULL,
	[emp_name] [varchar](60) NULL,
	[job_id] [smallint] NULL,
	[job_desc] [varchar](50) NULL,
	[job_lvl] [tinyint] NULL,
	[pub_id] [char](4) NULL,
	[hire_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([au_id])
REFERENCES [dbo].[dim_authors] ([au_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[dim_employee] ([emp_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([pub_id])
REFERENCES [dbo].[dim_publishers] ([pub_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([stor_id])
REFERENCES [dbo].[dim_stores] ([stor_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([time_id])
REFERENCES [dbo].[dim_time] ([time_id])
GO
ALTER TABLE [dbo].[fact_sales]  WITH CHECK ADD FOREIGN KEY([title_id])
REFERENCES [dbo].[dim_titles] ([title_id])
GO
USE [master]
GO
